body,
html {
  margin: 0;
  padding: 0;
  font-family: "Robotto" sans-serif;
}

p {
  font-size: 14px;
  text-align: justify;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #cfcfcf;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

a {
  color: #000;
  font-weight: 100;
  text-decoration: none;
  text-align: justify;
}

a:hover,
.hyd-title:hover {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.gap-30 {
  clear: both;
  height: 30px;
}

.logo {
  width: 200px;
}

/* .menu {
  margin-top: -0px;
} */
.add-banner {
  height: 100px;
  width: 100%;
  object-fit: fill;
}

/* .add-banner{
  background: url('../img/banner-ad-example-online.png');
  height: 70px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: scroll;  
  background-position: 0% 0%;
  background-size: 100% 100%;
} */

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1040;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background: #000;
  overflow: hidden;
  /* Disable horizontal scroll */
  /* padding-top: 60px; /* Place content 60px from the top */
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.sidenav:hover {
  overflow-y: auto;
}

/* The navigation menu links */
.sidenav .nav .nav-item .nav-link {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav .nav .nav-item .nav-link:hover {
  color: #000;
  background-color: #e2e6ea;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  margin-left: 5px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
}

.nav-scroller {
  position: absolute;
  top: 72px;
  width: 52%;
}

.sidenav-header {
  padding: 10px 15px;
  align-items: flex-end;
}

#mainNav {
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}

.fixed-top {
  animation: smoothScroll 1s forwards;
  background-color: #fff;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

.main-nav {
  background: #fff;
  transition: 350ms;
}

/* .navbar-brand{
    display: none;
  } */

.main-nav .navbar-nav .nav-link {
  color: #000;
  font-size: 15px;
  transition: 350ms;
  padding: 0rem 0.75rem;
  cursor: pointer;
  font-weight: 550;
  font-family: "Roboto", sans-serif;
}

.nav-link select {
  border: none;
  width: 120px;
}

/* sidebar dropdown */

.Dropbtn {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 16px;
  font-size: 16px;
  border: none;
  font-weight: 500;
}

.Dropdown {
  position: relative;
  display: inline-block;
}

.Dropdown-Content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.nav-link:hover {
  color: #000;
  background-color: #e2e6ea;
}

.Dropdown-Content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 500;
}

.Dropdown:hover .Dropdown-Content {
  display: block;
}

.Dropdown:hover .Dropbtn {
  color: rgb(255, 255, 255);
}

/* //navbar Dropdown */
.dropbtn {
  /* background-color: #04AA6D; */
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e9e9e9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 500;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: black;
}

.main-nav .navbar-nav .nav-link i,
.btn-group i {
  font-size: 18px;
}

.video-container {
  position: relative;
  padding: 15px 0px 5px 0px;
}

.video-text-overlay {
  position: absolute;
  bottom: -76px;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: #000000b0;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.video-dock {
  height: 437px;
  overflow-y: auto;
}

.video-dock-small {
  height: 182px;
  overflow-y: auto;
}

@media (max-width: 450px) {
  .video-dock-small {
    margin-left: 190px;
  }
}

.video-container video,
.video-container object,
.video-container source {
  width: 100%;
  height: 330px;
  /* height: 466px;
    position: absolute;
    top: -9px;
    left: -3px; */
}

.video-container-small video {
  position: absolute;
  top: -72px;
  left: 0;
  width: 192px;
  z-index: 99;
  height: 252px;
}

@media (max-width: 950px) {
  .video-container-small video {
    position: absolute;
    top: -72px;
    left: 0;
    width: 192px;
    z-index: 99;
    height: 252px;
  }

  .ROW {
    display: flex;
    flex-direction: column;
  }
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #d7342d;
}

.icfn-logo {
  position: fixed;
  right: 0;
  width: 100px;
  top: 0;
  right: 0px;
  z-index: 99;
}

.telugu-btn {
  position: fixed;
  width: 100px;
  top: 26px;
  right: 87px;
}

.navbar-light .center-item-space .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
  /* margin-right: 5px; */
}

.slider-title {
  font-weight: 900;
}

.block-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  line-height: 36px;
}

h5,
.h5 {
  font-size: 16px;
}

.rotate-img {
  overflow: hidden;
  cursor: pointer;
}

.mt-6 {
  margin-top: 6rem;
}

.overlay {
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
  width: 100%;
}

.overlay img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.top-main-title {
  font-size: 3em;
  color: #000;
  text-decoration: none;
  line-height: 1.3;
}

.card-img-top {
  height: 230px;
  object-fit: cover;
}

.card-content {
  padding: 25px 30px 30px;
  color: #180c2c;
}

.card-content .card-title {
  line-height: 30px;
  padding-bottom: 10px;
}

a>.card-text:hover {
  text-decoration: none;
}

.presentation-title,
h5,
.h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 5px;
  cursor: pointer;
}

.presentaion-img {
  cursor: pointer;
}

.presentation-headline a,
.video-heading,
.presentation-headline a:hover,
.video-heading:hover {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1;
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
}

.presentation-headline:hover {
  text-decoration: underline;
}

.video-icon {
  position: absolute;
  top: 35%;
  left: 23%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #343a40bf;
  transition: all 0.5s;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container img {
  width: 80%;
  text-align: center;
}

.video-icon:hover {
  background-color: #991b27;
}

.video-icon:before {
  font-family: "Font Awesome 5 Free";
  content: "\f152";
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 16px;
}

.Hyderabad {
  background-color: #dbf5ff;
  width: 100%;
}

.Entertainment {
  background-color: black;
  padding: 1rem 0;
}

.rotate-Img img {
  width: 100%;
}

.hyd-title {
  width: 100%;
  font-size: 48px;
  font-weight: 500;
}

.hyderbad-carousel .carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 40% 40%;
  background-color: #d7342d;
  border-radius: 100%;
}

.footer .nav-link {
  display: block;
  padding: 0.5rem 0.5rem;
}

.hyderbad-carousel .carousel-control-next,
.carousel-control-prev {
  opacity: 9;
}

.news-story .video-icon {
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #343a40bf;
  transition: all 0.5s;
}

.news-story .video-icon:hover {
  background-color: #991b27;
}

.news-story .video-heading {
  font-size: 0.7em;
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
}

.news-story .video-icon:before {
  font-family: "Font Awesome 5 Free";
  content: "\f152";
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  top: 6px;
  left: 9px;
}

.news-story figure {
  margin: 0 0 0rem;
}

.block-title.title-border {
  border-bottom: 2px solid #ddd;
  border-width: 2px;
  margin: 0 0 0 0;
}

.block-title.title-border .title-bg {
  padding: 0 20px;
  position: relative;
  background: #ddd;
  display: inline-block;
  top: 2px;
  color: #333;
}

.block-title.title-border .title-bg:before {
  position: absolute;
  content: "";
  left: -9px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #ddd;
  bottom: 0;
  margin: auto;
}

.block-title.title-border .title-bg:after {
  position: absolute;
  content: "";
  right: -15px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 34px solid transparent;
  border-left: 15px solid #ddd;
  border-bottom: 0 solid transparent;
  height: 100%;
}

.position-relative {
  position: relative !important;
}

.banner-content {
  position: absolute;
  bottom: 0px;
  color: #ffffff;
  left: 36%;
  width: 60%;
  text-align: left !important;
  background-color: #838282b0;
  padding: 5px 10px;
  font-weight: bold;
  color: black;
}

.lifestyle {
  background-color: #dabdce;
  padding: 2rem 0;
  width: 100%;
}

.btn-danger {
  color: #fff;
  background-color: #d7342d;
  border-color: #d7342d;
}

.bg-factcheck {
  background-color: #333;
}

.crime-title {
  position: absolute;
  bottom: 0px;
  right: 0;
  padding: 20px 50px;
  background-color: #838282b0;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  margin-bottom: 8px;
  margin-top: 5px;
  cursor: pointer;
}

.text-overlay,
.text-overlay-right {
  position: absolute;
  top: 6rem;
  font-weight: bold;
  width: auto;
  text-align: justify;
  z-index: 99;
  background-color: #ddddddb0;
  padding: 60px 50px;
  color: #222;
  height: auto;
  z-index: 99;
  line-height: 2;
}

.Visakhapatnam {
  line-height: 30px;
  font-size: 16px;
  padding-top: 10px;
}

.card-Title {
  font-size: 18px;
  text-align: left;
  font-weight: 700;
  line-height: 35px;
}

.text-overlay {
  left: -25%;
}

.text-overlay-right {
  right: -25%;
}

.Select {
  background-color: black;
  color: white;
  border: none;
}

.footer-items {
  text-decoration: underline;
  font-size: 13px;
}

.footer-items ul li a:after {
  content: "";
  position: relative;
  z-index: 1;
  border-left: 1px solid #000;
  display: block;
  right: 15px;
  height: 100%;
  width: 1px;
  height: 20px;
  top: -19px;
}

.footer-items ul li a:after:first-child {
  border-left: none;
}

.News-Meter {
  margin-top: -100px;
}

.custom_container {
  padding: 10px 180px;
}

li {
  list-style: none;
}

.footer {
  padding: 5rem 7rem 2rem 7rem;
  background-color: black;
}

.img-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-us p {
  color: white;
}

.join-us button {
  width: 300px;
}

.footer img {
  width: 250px;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  gap: 6rem;
}

.follow {
  display: flex;
  flex-direction: column;
}

.join-us p {
  font-weight: 500;
}

.nav-link {
  color: white;
  font-weight: 500;
}


/* // newsdescription */

.newsdescription {
  font-size: 1rem;
  line-height: 30px;
}

.news-story p {
  font-size: 16px;
}

.presentation-headline a {
  font-size: 14px;
}

.nextpage.divider span:nth-child(2) {
  color: #000;
  padding: 1px 5px;
  width: auto;
  background-color: #b1b0b0;
  white-space: nowrap;
  font-size: 25px;
  border-radius: 1px;
}

.nextpage.divider span:first-child {

  background-image: linear-gradient(90deg, transparent, #000);
}

.nextpage.divider span:last-child {

  background-image: linear-gradient(90deg, #000, transparent);
}

.nextpage.divider span:first-child,
.nextpage.divider span:last-child {
  width: 50%;
  top: 13px;
  -moz-background-size: 100% 2px;
  background-size: 100% 2px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}

.nextpage.divider span {
  display: table-cell;
  position: relative;
}

/* //.Entertainment */
.presentation-headline a{
  color: black;
}
.presentation-headline a:hover{
  color: black;
}
.Entertainment{
  padding: 21rem 0 0 0;
  background-color: white;
}

/* //FooterLinksPage */
.font a{
  color: rgba(255, 5, 5, 0.973);
  font-weight: bold;
}

@media(max-width:450px){
  .Entertainment{
    padding: 0px 0 0 0;
  }
  .googleform{
  width: 100%;
  }
  .iframe{
    width: 100%;
  }
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media (max-width: 950px) {
  .img-footer {
    justify-content: center;
    gap: 5rem;
  }
  .googleform{
    width: 100%;
  }
}

@media (max-width: 880px) {
  .img-footer {
    flex-direction: column;
    gap: 2rem;
  }

  .footer img {
    width: 350px;
  }

  .footer-links {
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: center;
  }

  .ColumN {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    color: white;
    font-size: 20px;
  }
}

@media (max-width: 510px) {
  .footer {
    padding: 5rem 2rem 2rem 2rem;
  }
}

@media (max-width: 1200px) {
  .custom_container {
    padding: 10px 100px;
  }
}

@media (max-width: 590px) {
  .custom_container {
    padding: 10px 25px;
  }

  .video-text-overlay {
    bottom: -85px;
  }
}

.entertainment {
  /* padding-left: 10px; */
}

@media (max-width: 980px) {
  .entertainment {
    /* padding-left: 30px; */
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media (max-width: 991.98px) {

  .text-overlay,
  .text-overlay-right {
    position: relative !important;
    left: 0;
    right: 0;
    top: 0;
  }

  .video-icon {
    left: 10%;
  }

  .video-dock {
    padding: 4.5rem 0px;
  }
}

@media (max-width: 500px) {
  .Footer .row {
    display: block;
    padding: 10px;
  }

  .Footer-menu {
    padding-left: 60px;
    text-align: center;
  }

  .video-dock {
    padding: 7rem 0px;
  }

  .video-text-overlay {
    bottom: -120px;
  }
}

@media(max-width:450px) {
  .top-main-title {
    font-size: 30px;
  }

  .top-main-title a {
    font-weight: 600;
  }

  .hyd-title {
    font-size: 30px;
    width: 100%;
  }

  .img-footer img {
    width: 250px;
  }

  .footer-links {
    gap: 3rem;
  }

  .follow {
    padding: 0 .2rem;
  }

  .footer-links,
  .ColumN {
    align-items: flex-start;
    margin-top: -20px;
  }

  .img {
    margin-left: -280px;
    width: 230px;
  }
}